$primaryColor: #23272a;
$show-home-image: true;
$home-image: url('./assets/nasa1.jpg');
$background-opacity: .8;
$main-text-color: #99aab5;
$secondary-color: #2c2f33;
$tertiary-color: #ffffff;
$quartile-color: #7289da;

html {
	height: 100%;
}

#root {
	height: 100%;
}

.App {
	height: 100%;
	width: 100%;
}

body {
	// @include background;
	background: $secondary-color;
	color: $tertiary-color;
	height: 100%;
	margin: 0;
	line-height: 1.5;
}

h1,
h2,
h3,
h4 {
	color: rgba($tertiary-color, .8);
	font-weight: 400;
	line-height: 1.25rem;
	word-spacing: .15rem;

	&.main-name {
		font-size: 3rem;
		padding-bottom: 3rem;
		padding-left: 2rem;
	}

	&.main-description {
		line-height: 2rem;
		font-size: 1.5rem;
		padding-left: 5rem;
		padding-bottom: 1rem;
	}
}

.school {
	color: $quartile-color;

	&:hover {
		color: rgba($color: #88bcff, $alpha: 1.5);
		text-decoration: underline;
		cursor: pointer;
	}
	a:visited {
		text-decoration: none;
		color: inherit;
	}
}

a {
	color: $main-text-color;
	text-decoration: none;

	&.id {
		padding: 1rem;
	}
}

header {
	background-color: $secondary-color;
	position: fixed;
	width: 100%;
	z-index: 5000;

	nav {
		position: relative;
		width: 100%;
		height: 100%;
		box-shadow: 0 .1rem .2rem .01rem rgba(0, 0, 0, .8);

		ul {
			padding: 0;
			margin: 0;
			font-size: 1.5rem;
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;

			li {
				height: 100%;
				list-style-type: none;
				flex: 1 1 auto;
				text-align: center;

				a {
					display: block;
					width: 100%;
					padding: 1rem;

					&:hover {
						color: $tertiary-color;
					}
				}

				&:hover {
					height: 100%;
					background-color: $quartile-color;
					color: $tertiary-color;
				}
			}
		}
	}
}

main {
	padding: 5rem 5rem 2rem 5rem;
	background: $secondary-color;

	div {
		&.icons {
			padding-top: .5rem;
			padding-left: 4rem;
		}
	}

	a {
		&:hover {
			color: $quartile-color;
		}
	}
}

.nameCard {
	margin: auto;
	border-radius: 2rem;
	background: $primaryColor;
	width: 75%;
	padding: 6rem 4rem;
	border: 1px $quartile-color solid;

	h1 {
		padding: 0;
		padding-left: 2rem;
	}

	h3,
	h4 {
		font-weight: 400;
		padding-left: 6rem;
		line-height: 2.5rem;
	}
}

.cardHolder {
	display: grid;
	padding: 3rem 3rem 3rem 2rem;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	grid-auto-rows: minmax(450px, 1fr);
	grid-column-gap: .5rem;
	grid-row-gap: .5rem;
}

// @media only screen and (max-width: 875px) {

//     html {
//         font-size: .75vw;
//     }

// }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	html {
		font-size: 1vw;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	html {
		font-size: 1.25vw;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
	html {
		font-size: 1.5vw;
	}

	.cardHolder {
		grid-template-columns: repeat(1, minmax(300px, 1fr));
		grid-auto-rows: minmax(300px, 1fr);
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	html {
		font-size: 16px;
	}
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//     html {
//         font-size: 16px;
//     }
// }
