$primaryColor: #23272a;
$main-text-color: #99aab5;
$secondary-color: #2c2f33;
$tertiary-color: #ffffff;
$quartile-color: #7289da;

.resume-container {
	margin: 5rem 3rem;
	display: flex;
	.left-resume {
		padding: 2rem;
		background: red;
		flex: 0 0 30%;
	}
	.right-resume {
		color: $tertiary-color;
		padding: 2rem;
		background: blue;
		flex: 0 0 70%;
	}
	h2,
	h1,
	h4 {
		color: rgba($tertiary-color, 0.8);
		margin: 0;
		padding: 0;
	}

	p {
		color: rgba($tertiary-color, 0.8);
	}
	.education-title {
		margin: 0 0 2rem 0rem;
		width: 100%;
	}

	.education {
		.education-school {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-bottom: 3rem;

			.education-school-left {
				flex: 0 0 40%;
			}
			.education-school-right {
				flex: 0 0 60%;
			}
		}
	}
	.resume-section-divide-container {
		margin: auto;
		width: 95%;
		height: .25rem;
		border-bottom: 5px solid $quartile-color;
		border-radius: 10px 10px 10px 10px;
	}

	.experience-title {
		margin: 2rem 0rem;
		width: 100%;
	}
}
