$main-text-color: #99aab5;
$secondary-color: #2c2f33;
$tertiary-color: #ffffff;
$quartile-color: #7289da;
$primaryColor: #23272a;
$item-size: 100%;

.CardBody {
    overflow: hidden;
    padding: 3rem;
    background: $primaryColor;
    width: $item-size;
    height: $item-size;
    transition: all 1s;
    justify-self: center;
    position: relative;
    z-index: 1;

    h2 {
        padding: 0;
    }

    .card-modal-top {
        padding: 2rem;
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0;
        bottom: 100%;
        left: 0;
        transition: all 1s;
    }

    .card-modal-bottom {
        padding: 2rem;
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        transition: all 1s;

        a {
            position: absolute;
            bottom: 0;
            left: 2rem;
        }
    }

    &:hover {
        z-index: 200;
        transform: scale(1.05);
        box-shadow: 0 .1rem 1rem .3rem rgba(0, 0, 0, .5);

        a {
            &:hover {
                color: $quartile-color;
            }

        }

        .card-modal-top {
            transform: translateY(100%);
            opacity: 1;
            width: 100%;
            height: 100%;
        }

        .card-modal-bottom {
            transform: translateY(-100%);
            opacity: 1;
            width: 100%;
            height: 100%;
        }
    }
}