.education {
	.education-school {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 3rem;

		.education-school-left {
			flex: 0 0 40%;
		}
		.education-school-right {
			flex: 0 0 60%;
		}
	}
}
